<Navbar expand="lg" className="bg-body-tertiary" >
          <Container>
            <Navbar.Brand href="#home"><img src="..\images\logo Small.png" width={150} height={35}></img></Navbar.Brand>
            <Navbar.Toggle aria-controls="basic-navbar-nav" />
            <Navbar.Collapse id="basic-navbar-nav">
              <Nav className="me-auto">
                {/* <Nav.Link href="#home">Home</Nav.Link>
                <Nav.Link href="#link">Tv</Nav.Link>
                <Nav.Link href="#link">About</Nav.Link>
                <Nav.Link href="#link">ContactUs</Nav.Link> */}
                <NavLink
                  className="nav-link spaces"
                  to="/"
                  style={({ isActive }) => {
                    return {
                      border: isActive ? "solid 1px red" : "",
                      borderRadius:isActive?'8px':"",
                      color:isActive?'Black':""
                    };
                  }}
                >
                  Home
                </NavLink>
                <NavLink className="nav-link spaces" to="/movie">
                  Movies
                </NavLink>
                <NavLink className="nav-link spaces" to="/tv">
                  Tv shows
                </NavLink>
                <NavLink className="nav-link spaces" to="/about">
                  About us
                </NavLink>
                <NavLink className="nav-link justify-content-end spaces" to="/join">
                  Join us
                </NavLink>
                <NavLink className="nav-link spaces justify-content-end" to="/contact">
                  Signup
                </NavLink>
                
                {/* <Link to='/' className="nav-link">Home</Link>
                <Link to='/movie' className="nav-link">Movie</Link>
                <Link to='/tv' className="nav-link">Tv</Link>
                <Link to='/about' className="nav-link">About</Link>
                <Link to='/contact' className="nav-link">ContactUs</Link>
                <Link to='/signup' className="nav-link">Signup</Link> */}
              </Nav>
            </Navbar.Collapse>
          </Container>
        </Navbar>